<div class="auther">
    <h1 class="auther__heading">Hi, I am Dima</h1>
    <p class="auther__body"> Junior</p>
</div>

<img src="/img/hero-image.webp" alt="person looking out windows" class="hero__image" width="981"  height="528"/>

<section class="articals">
<h2 class="aticles__heading">Latest Posts</h2>

<ul>
    <li>
        <a href="#">
            <span>Post title</span>
            <span class="article-list__date">Date</span>
        </a>
    </li>
</ul>

<a href="#" class="pagination">&lt; View Older Posts</a>

</section>